@{
    ViewData["Title"] = "Register Page";
}

@section Css{
     <link rel="stylesheet" href="~/assets/css/pages/register/register.css">
}


<!--MAIN-START-->

<main>


    <!--BANNER-START-->

    <section id="banner">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="banner">
                <img src="~/assets/images/banners/banner6.jpg" />
                <h1>Account<span>Register</span></h1>
            </div>
        </div>
    </section>

    <!--BANNER-END-->
    <!--REGISTER-START-->

    <section id="register">
        <div class="row" style="width: 100%">

            <div class="col-sm-12 col-md-12 col-lg-8">
                <div class="register-image">
                    <img src="~/assets/images/banners/banner10.webp" alt="">
                </div>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="register-content">
                    <div class="register-title">
                        <h1>Create an Account</h1>
                    </div>


                    <form class="mt-4">

                        <div class="input">
                            <label for="name">Name</label>
                            <input id="name" type="text" placeholder="Name">
                        </div>

                        <div class="input">
                            <label for="surname">Surname</label>
                            <input id="surname" type="text" placeholder="Surname">
                        </div>

                        <div class="input">
                            <label for="username">Username</label>
                            <input id="username" type="text" placeholder="Username">
                        </div>

                        <div class="input">
                            <label for="email">Email</label>
                            <input id="email" type="email" placeholder="Email">
                        </div>

                        <div class="input">
                            <label for="password">Password</label>
                            <input id="password" type="password" placeholder="Password">
                            <i class="fa-solid fa-eye eye"></i>
                            <div class="line"></div>
                        </div>

                        <div class="input">
                            <label for="confirm-password">Repeat Password</label>
                            <input id="confirm-password" type="password" placeholder="Repeat Password">
                            <i class="fa-solid fa-eye eye"></i>
                            <div class="line"></div>
                        </div>

                        <div class="forgot-password-remember-me">
                            <div class="remember-me">
                                <input class="form-check-input" id="checkbox" type="checkbox">
                                <label for="checkbox">Remember me</label>
                            </div>
                            <div class="forgot-password">
                                <a href="forgot-password.html">Forgot password?</a>
                            </div>

                        </div>

                        <div class="login-btn mt-4">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </div>

                        <div class="already-account">
                            <p>
                                Already have an account?
                                <a asp-controller="Account" asp-action="Login">Sign in</a>
                            </p>
                        </div>

                    </form>

                </div>

            </div>
        </div>


    </section>

    <!--REGISTER-END-->



</main>


<!--MAIN-END-->


@section Scripts{
    <script src="~/assets/js/register.js"></script>
}

