
@{
    ViewData["Title"] = "Reset Password Page";
}

@section Css{
    <link rel="stylesheet" href="~/assets/css/pages/reset-password/reset-password.css">
}

<!--MAIN-START-->

<main>

   <!--BANNER-START-->

    <section id="banner">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="banner">
                <img src="~/assets/images/banners/banner6.jpg" />
                <h1>Reset Password</h1>
            </div>
        </div>
    </section>

    <!--BANNER-END-->




    <!--RESET-PASSWORD-START-->

    <section id="reset-password">

        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">

                <div class="reset-password">

                    <div class="reset-password-image">
                        <img src="~/assets/images/info-logos/header-logo.png" alt="">
                    </div>

                    <div class="reset-password-lock">
                        <i class="fa-solid fa-lock"></i>
                        <h2 class="mt-4">Reset Password?</h2>
                        <p class="mt-3">You can change password here</p>
                    </div>


                    <form>
                        <div class="reset-password-content">

                            <div class="input-icon">
                                <label for="">New Password *</label>
                                <input class="form-control" type="email" placeholder="New Password">
                            </div>

                            <div class="input-icon">
                                <label for="">Confirm Password *</label>
                                <input class="form-control" type="email" placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn btn-success rounded-5">Change Password</a>
                        </div>
                    </form>


                </div>

            </div>
        </div>



    </section>

    <!--RESET-PASSWORD-END-->



</main>


<!--MAIN-END-->

@section Scripts{
   <script src="~/assets/js/reset-password.js"></script>
}

