
@{
    ViewData["Title"] = "Product";
}

@section Css{
    <link rel="stylesheet" href="~/assets/css/pages/product/product.css">
}

<!--MAIN-START-->

<main>

    <!--BANNER-START-->

    <section id="banner">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="banner pt-5" style="background-image: url(assets/images/banners/banner6.jpg)">
                <h1>Product Detail</h1>
            </div>
        </div>
    </section>

    <!--BANNER-END-->


    <!--PRODUCT-DETAIL-START-->

    <section id="product-detail" class="mt-5">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-5">
                    <div class="left-side">
                        <div class="main-image">
                            <img src="~/assets/images/products/pizza1.png" alt="">

                        </div>

                        <div class="detail-images mt-2">
                            <img src="~/assets/images/products/pizza2.png" alt="">
                            <img src="~/assets/images/products/pizza3.png" alt="">
                        </div>
                    </div>


                </div>

                <div class="col-sm-12 col-md-6 col-lg-7">
                    <div class="right-side">
                        <div class="product">
                            <div class="product-category-name">
                                <span>Fast Foods</span>
                            </div>

                            <div class="product-name">
                                <span>Pizza</span>
                            </div>

                            <div class="product-price">
                                <span>$34</span>
                                <span>$28</span>
                            </div>

                            <div class="product-rating-review">
                                <div class="product-rating">
                                    <i class="fa-solid fa-star active"></i>
                                    <i class="fa-solid fa-star active"></i>
                                    <i class="fa-solid fa-star active"></i>
                                    <i class="fa-solid fa-star active"></i>
                                    <i class="fa-solid fa-star active"></i>
                                </div>

                                <div class="product-review">
                                    <span>Reviews (3)</span>

                                </div>
                            </div>

                            <div class="product-code-stock">
                                <div class="product-code">
                                    <h2>UPC</h2>
                                    <span>0 12345 67890 5</span>
                                </div>

                                <div class="product-stock">
                                    <h2>Stock Status</h2>
                                    <span>In Stock</span>
                                </div>
                            </div>

                            <div class="product-description">
                                <p>
                                    Pizza is a dish of Italian origin, made with an
                                    oven-baked, flat, generally round bread that is often covered with tomatoes
                                    or a tomato-based sauce and mozzarella cheese. Other toppings are added
                                    according to region, culture, or personal preference.
                                </p>

                            </div>

                            <div class="product-btns">
                                <div class="product-add-to-cart product-add">
                                    <a class="btn btn-success" href="cart.html">Add To Cart</a>

                                </div>

                                <div class="product-add-to-wishlist product-add">
                                    <a class="btn btn-warning" href="wishlist.html">Add To Wishlist</a>
                                </div>
                            </div>

                            <div class="product-social-medias">

                                <div class="social-media-title">
                                    <span>Share with friends</span>

                                </div>

                                <div class="social-media-icons">
                                    <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://www.pinterest.com"><i class="fa-brands fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--PRODUCT-DETAIL-END-->



    <!--DESCRIPTION-START-->

    <section id="description">
        <div class="container">
            <div class="col-ms-12 col-md-12 col-lg-12">
                <div class="description">
                    <h2>Description</h2>
                    <p>
                        Pizza is a dish of Italian origin, made with an
                        oven-baked, flat, generally round bread that is often covered with tomatoes
                        or a tomato-based sauce and mozzarella cheese. Other toppings are added
                        according to region, culture, or personal preference.
                    </p>
                </div>

            </div>
        </div>

    </section>

    <!--DESCRIPTION-END-->


    <!--REVIEW-START-->

    <section id="review" class="mt-5">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12 parent">
                <h3>2 Reviews</h3>

                <div class="review-content">

                    <div class="review-user-image">
                        <img src="~/assets/images/reviews/user2.jpg" alt="">
                    </div>

                    <div class="review-user-description">


                        <div class="user-fullname-rating">

                            <div class="user-fullname">
                                <span>John Wilson</span>
                            </div>

                            <div class="user-rating">
                                <i class="fa-solid fa-star active" id="1"></i>
                                <i class="fa-solid fa-star active" id="2"></i>
                                <i class="fa-solid fa-star active" id="3"></i>
                                <i class="fa-solid fa-star" id="4"></i>
                                <i class="fa-solid fa-star" id="5"></i>
                            </div>


                        </div>

                        <div class="user-description">
                            <p>
                                Adopting a new healthier lifestyle can involve changing diet to include more fresh
                                fruit and vegetables as well as increasing levels of exercise.
                            </p>
                            <span>johnwilson_123@gmail.com</span>
                        </div>

                    </div>

                </div>

                <div class="review-content">

                    <div class="review-user-image">
                        <img src="~/assets/images/reviews/user1.jpg" alt="">
                    </div>

                    <div class="review-user-description">


                        <div class="user-fullname-rating">

                            <div class="user-fullname">
                                <span>Linda Morgan</span>
                            </div>

                            <div class="user-rating">
                                <i class="fa-solid fa-star active" id="1"></i>
                                <i class="fa-solid fa-star active" id="2"></i>
                                <i class="fa-solid fa-star active" id="3"></i>
                                <i class="fa-solid fa-star active" id="4"></i>
                                <i class="fa-solid fa-star" id="5"></i>
                            </div>


                        </div>

                        <div class="user-description">
                            <p>
                                Green strongly influences the heart and helps alleviate tension. Positive qualities
                                associated with green are generosity, humility, and cooperation. Foods of the green
                                vibration are all green fruits and green vegetables.
                            </p>
                            <span>lindamorgan78@gmail.com</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        </div>

    </section>

    <!--REVIEW-END-->



    <!--ADD-REVIEW-START-->

    <section id="add-review" class="mt-5">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2>Add a review</h2>

                <div class="rating">
                    <div class="rating-title">
                        <span>Rate this product?</span>

                    </div>

                    <div class="rating-icon">
                        <i class="fa-solid fa-star" id="1"></i>
                        <i class="fa-solid fa-star" id="2"></i>
                        <i class="fa-solid fa-star" id="3"></i>
                        <i class="fa-solid fa-star" id="4"></i>
                        <i class="fa-solid fa-star" id="5"></i>
                    </div>
                </div>

                <form>
                    <div class="comment-description comment mt-4">
                        <i class="fa-solid fa-message"></i>
                        <textarea type="text" cols="100%" rows="13" placeholder="Write a comment"></textarea>
                    </div>

                    <div class="comment-name-email mt-3">
                        <div class="comment-name comment">
                            <i class="fa-solid fa-user"></i>
                            <input class="form-control name" type="text" placeholder="FullName">

                        </div>

                        <div class="comment-email comment">
                            <i class="fa-solid fa-envelope"></i>
                            <input class="form-control email" type="email" placeholder="Email Address">
                        </div>
                    </div>

                    <div class="submit-btn mt-5">
                        <button class="btn btn-success submit" type="submit">Submit a review</button>
                    </div>
                </form>

                <div class="alert alert-danger mt-4 d-none" role="alert">
                    Fields are required. Can't be empty
                </div>
            </div>
        </div>
        </div>

    </section>

    <!--ADD-REVIEW-END-->

</main>


<!--MAIN-END-->
@section Scripts{
    <script src="~/assets/js/product.js"></script>
}




