.container {
    margin-left: 27%;
    margin-top: 75px;
}

.create a {
    padding: 10px 35px;
    font-size: 15px;
}

.title {
    font-weight: bolder;
    font-family: serif;
    font-style: italic;
}

h1 {
    background-color: #a7eba7;
    border-radius: 30px;
    padding: 5px 0;
    font-size: 35px;
    color: green;
}

h3 {
    margin-bottom: 70px;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    font-size: 50px;
    color: black;
}

thead {
    background: silver;
    font-size: 18px;
    background: #90c190;
    font-size: 19px;
    font-family: serif;
}

tbody {
    background: floralwhite;
    font-size: 17px;
    background: #b0ffb0;
}

.table th, td {
    border: 1px solid #267b26 !important;
    text-align: center;
    font-weight: 700;
}

.table td {
    color: black;
}

.table th {
    color: #055205;
}

tbody .cell5 {
    padding: 60px 9px;
}

.table td .image4 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.table td .image4 img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.table td .image4 img:hover {
   transform: scale(1.2);
   cursor: pointer;
}

.table td a {
    color: white !important;
    padding: 10px 35px;
    font-size: 15px;
}

.table-bordered {
    border: 1px solid black !important;
    margin-top: 35px;
}

.green {
    background-color: #2f9b2f;
}

.green:hover {
    background-color: #2eb72e;
}

.blue {
    background-color: #3e3ea9;
}

.blue:hover {
    background-color: #3333d3;
}

.orange {
    background: #ffaa0e;
}

.orange:hover {
    background-color: #f5a000;
}

.red {
    background-color: #e92929;
}

.red:hover {
   background-color: #ff0000;
}

.btn {
    border: none;
}


