.ctn2 {
    margin-left: 33%;
    margin-right: 17%;
    margin-top: 70px;
}

.create a {
    padding: 10px 35px;
    font-size: 15px;
}

.title {
    font-weight: bolder;
    font-family: serif;
    font-style: italic;
}

h1 {
    background-color: #a7eba7;
    border-radius: 30px;
    padding: 5px 0;
    font-size: 35px;
    color: green;
}

thead {
    background: silver;
    font-size: 18px;
    background: #90c190;
    font-size: 19px;
    font-family: serif;
}

tbody {
    background: floralwhite;
    font-size: 17px;
    background: #b0ffb0;
}

.table th, td {
    border: 1px solid #267b26 !important;
    text-align: center;
    font-weight: 700;
}

.table td {
    color: black;
}

.table th {
    color: #055205;
}

.table td .image2 {
    width: 340px;
    height: 270px;
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
}

.table td .image2 img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: 0.4s;
    object-fit: cover;
}

.table td .image2 img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.table .buttons {
    padding-top: 14%;
}

.table .buttons a {
    color: white !important;
    margin-left: 8px;
    padding: 10px 35px;
    font-size: 15px;
    display: inline;
}

.table-bordered {
    border: 1px solid black !important;
    margin-top: 35px;
}

.green {
    background-color: #2f9b2f;
}

.green:hover {
    background-color: #2eb72e;
}

.blue {
    background-color: #3e3ea9;
}

.blue:hover {
    background-color: #3333d3;
}

.orange {
    background: #ffaa0e;
}

.orange:hover {
    background-color: #f5a000;
}

.red {
    background-color: #e92929;
}

.red:hover {
    background-color: #ff0000;
}

.btn {
    border: none;
}
