
@{
    ViewData["Title"] = "Profile";
}

@model ProfileVM

@section Css{
    <link rel="stylesheet" href="~/assets/css/pages/profile/profile.css">
}

<!--BANNER-START-->

<section id="banner">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="banner" style="background-image: url(assets/images/banners/@Model.Banners.Skip(6).Take(1).FirstOrDefault().Image)">
            <h1>@Model.BannerInfos.Skip(12).Take(1).FirstOrDefault().Title</h1>
        </div>
    </div>
</section>

<!--BANNER-END-->

<!--PROFILE-START-->

<section id="profile">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="container">
            <div class="profile">
                <div class="profile-title">
                    <h3>Your Profile</h3>
                    <div class="profile-edit">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <span>Edit Profile</span>
                    </div>
                </div>
                <div class="profile-content">
                    <div class="profile-image">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <img src="~/assets/images/profiles/profile2.png" alt="">
                        }
                        else
                        {
                            <img src="~/assets/images/info-logos/user.png" alt="">
                        }
              
                    </div>

                    <div class="profile-inputs">
                        <div class="profile-input-group">
                            <label for="">Full Name</label>
                            <input class="form-control" type="text" value="@Model.Data.User.Name @Model.Data.User.Surname">
                        </div>

                        <div class="profile-input-group">
                            <label for="">Email</label>
                            <input class="form-control" type="email" value="@Model.Data.User.Email">
                        </div>
                    </div>

                    <div class="profile-btn">
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-success rounded-5">Log Out</a>
                    </div>

                </div>
            </div>
        </div>

    </div>

</section>

<!--PROFILE-END-->

@section Scripts{
         <script src="~/assets/js/profile.js"></script>
}